@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: Poppins, sans-serif !important;
  align-items: center;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
